.header {
	background-color: var(--color1);
	color: var(--light-text);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	height: 7vh;
}

.header .head-btn {
	background-color: var(--color5);
	color: var(--dark-text);
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
